.shell {
  position: relative;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

:global(body.client-fullscreen .brand-texture-overlay) {
  display: none;
}
