.fullscreenWrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

:global(body.client-fullscreen .brand-texture-overlay) {
  display: none;
}
