.fullscreenWrapper {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

:global(body.client-fullscreen .brand-texture-overlay) {
  display: none;
}
